@import 'tailwindcss';

:root,
html[data-theme='light'] {
  @apply text-gray-800;
}

@theme {
  --color-background: rgba(255, 255, 255, 1);
}

:root,
html[data-theme='light'] {
  --color-background: rgba(255, 255, 255, 1);
}

:root,
html[data-theme='dark'] {
  --color-background: rgba(0, 0, 0, 1);
}
